@font-face {
    font-family: Comfortaa;
    src: url("assets/fonts/Comfortaa-VariableFont_wght.ttf");
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: Comfortaa;
}

.icon {
    transition: fill 0.3s;
}

.header {
    flex: 0 0 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 10px 0 black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.search-images {
    position: relative;
}

.name-images, 
.button {
    border: 1px solid;
}

.name-images {
    border-radius: 30px;
    height: 45px;
    width: 300px;
    padding: 0 0 0 15px;
    box-sizing: border-box;
}

.button {
    height: 45px;
    width: 45px;
    right: 0;
    position: absolute;
    background:  #f69272;
    cursor: pointer;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.button-reset {
    position: absolute;
    right: 45px;
    height: 45px;
    width: 45px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.a-icon,
.cross{
    width: 16px;
    height: 16px;
}

.button:hover {
    fill: #ffffff;
}

.main {
    flex: 1;
}

.gallery-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1300px;
    margin: auto;
    padding: 40px 0;
}

.gallery-img {
    height: 300px;
    width: 300px;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

.more-img {
    margin: 0 auto;
    display: block;
    position: relative;
    margin-bottom: 40px;
    padding: 15px 40px;
    border-radius: 70px;
    font-size: 20px;
    background-color: transparent;
    font-family: Comfortaa;
}

.more-img:hover {
    cursor: pointer;
    color: #ffffff;
}

.more-img:after {
    content: "";
    background-color: #f69272;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.3s;
    border-radius: 70px;
}
  
.more-img:hover:after {
    top: 0px;
    left: 0px;
}

.empty {
    display: none;   
    font-size: 20px;
}

.empty.open { 
    display: block;
    text-align: center;
}

.more-img.open {
    display: none;
}

/* footer */
.footer {
    flex: 0 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0;
    font-size: 20px;
    box-shadow: 0 1px 10px 0 black;
}

.footer-data,
.RSS {
    padding: 0 280px;
}

.footer-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.icon-RSS {
    fill: black;
    width: 125px;
    height: 50px;
}

.link {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    transition: color 0.3s;
}

.icon-RSS:hover,
.link:hover {
    fill: #f69272;
    color:  #f69272;
}

